# Stock Price Movement

Predicting stock price movement based on news headlines. The dependant variable in the given data is 'Label', 

1 --> The stock price has increased 

0 --> The stock price stayed the same/ decreased

In [6]:
import pyforest
import nltk
import re

In [9]:
d = pd.read_csv(r'C:\Users\Admin\OneDrive\Desktop\data.csv')
d.head(2)

         Date  Label  ...                                              Top24                         Top25
0  2000-01-03      0  ...                                           Sold out            Recovering a title
1  2000-01-04      0  ...  Yet more things you wouldn't know without the ...  Millennium bug fails to bite

[2 rows x 27 columns]

Splitting data to train and test dataset using date as a parameter - YY/MM/DD

In [11]:
train = d[d['Date'] < '20150101']
test  = d[d['Date'] < '20141231']

Cleaning Data

In [12]:
data = train.iloc[:,2:27]
data.replace('[^a-zA-Z]', ' ', regex = True, inplace = True)

Renaming column names for easy access

In [13]:
l = [i for i in range(25)]
new_index = [str(i) for i in l]
data.columns = new_index
data.head(2)

                                                   0  ...                            24
0  A  hindrance to operations   extracts from the...  ...            Recovering a title
1                                          Scorecard  ...  Millennium bug fails to bite

[2 rows x 25 columns]

Converting headlines to lowercase before NLP application

In [15]:
for index in new_index:
    data[index] = data[index].str.lower()
data.head(2)

                                                   0  ...                            24
0  a  hindrance to operations   extracts from the...  ...            recovering a title
1                                          scorecard  ...  millennium bug fails to bite

[2 rows x 25 columns]

Creating a paragraph including all headlines.

In [24]:
headlines = []
for row in range(0, len(data.index)):
    headlines.append(' '.join(str(x) for x in data.iloc[row, 0:25]))

In [25]:
headlines[0]

'a  hindrance to operations   extracts from the leaked reports scorecard hughes  instant hit buoys blues jack gets his skates on at ice cold alex chaos as maracana builds up for united depleted leicester prevail as elliott spoils everton s party hungry spurs sense rich pickings gunners so wide of an easy target derby raise a glass to strupar s debut double southgate strikes  leeds pay the penalty hammers hand robson a youthful lesson saints party like it s      wear wolves have turned into lambs stump mike catches testy gough s taunt langer escapes to hit     flintoff injury piles on woe for england hunters threaten jospin with new battle of the somme kohl s successor drawn into scandal the difference between men and women sara denver  nurse turned solicitor diana s landmine crusade put tories in a panic yeltsin s resignation caught opposition flat footed russian roulette sold out recovering a title'

Creating Bag of Words Model

In [26]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier

In [27]:
countvector = CountVectorizer(ngram_range = (2, 2))
traindataset = countvector.fit_transform(headlines)

Creating Random Forest Classifier Model

In [28]:
randomclassifier = RandomForestClassifier(n_estimators = 200, criterion = 'entropy')
randomclassifier.fit(traindataset, train['Label'])

RandomForestClassifier(criterion='entropy', n_estimators=200)

Predict for the Test Dataset

In [29]:
test_transform = []
headlines = []
for row in range(0, len(test.index)):
    test_transform.append(' '.join(str(x) for x in test.iloc[row, 0:25]))
    
test_dataset = countvector.transform(test_transform)
predictions = randomclassifier.predict(test_dataset)

Checking accuracy of the Model

In [30]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [31]:
matrix = confusion_matrix(test['Label'], predictions)
print(matrix)

[[1749    0]
 [   0 1974]]

In [32]:
score = accuracy_score(test['Label'], predictions)
print(score)

1.0

In [33]:
report = classification_report(test['Label'], predictions)
print(report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1749
           1       1.00      1.00      1.00      1974

    accuracy                           1.00      3723
   macro avg       1.00      1.00      1.00      3723
weighted avg       1.00      1.00      1.00      3723